fonts = Helvetica, Arial, sans-serif

div
  display flex
  flex-direction column
  align-items	center

h1,h2
  font 3em fonts
  background-color #fdfdfd

.ui
  padding 30px

.header
  font 2em fonts

.field
  display flex
  flex-direction row

form
  display flex
  flex-direction column
  text-align right
  align-items	center
  background-color #a2d7dd
  border-radius 10px
  border 5px solid #006e54

label
  display inline-block
  width 100px
  padding 0 20px
  text-align left
  font 1.2em fonts
